---
import { Post } from '@lib/blog';
import Tag from '@components/Tag.astro';

export interface Props {
  post: Post;
}

const { post } = Astro.props;

const {
  url,
  frontmatter: { title, description, minutesRead, date, tags = [] },
} = post;
const postDate = new Date(post.frontmatter.date).toDateString();
---

<a
  href={url}
  class='block border-l-violet-700 border-l-4 p-8 hover:translate-x-1 hover:bg-slate-900 duration-150'
>
  <article>
    <h3 class='text-lg font-semibold'>{title}</h3>
    <div class='text-sm'>
      <span>{postDate}</span>
      <span class='mx-2'>|</span>
      <span>{minutesRead}</span>
    </div>
    {tags && (
      <div class="mt-2 flex gap-2">
        {tags.map((tag) => (
          <Tag disableHover size="small" tag={tag} />
        ))}
      </div>
    )}
    <p class='mt-4'>{description}</p>
  </article>
</a>
