---
import Layout from './Layout.astro';
import Link from '@components/Link.astro';

const { content } = Astro.props;
const {
  title,
  postDate,
  description,
  includeTOC = false,
  astro: { headers },
} = content;
const indentMap = {
  2: 'ml-8',
  3: 'ml-12',
  4: 'ml-16',
  5: 'ml-20',
  6: 'ml-24',
};
---

<Layout title={title}>
  <h1 class='mt-16 text-5xl leading-normal'>{title}</h1>
  <hr class='my-4 border-2 border-violet-700' />
  <div class='mb-12'>
    <span>{new Date(postDate).toDateString()}</span>
  </div>
  <article class='text-xl leading-loose'>
    {includeTOC && headers.length > 0 && (
      <nav class="mb-16">
        <h2>Contents</h2>
        <ul>
          {headers.map((h) => (
            <li class={indentMap[h.depth]}>
              <Link href={`#${h.slug}`}>{h.text}</Link>
            </li>
          ))}
        </ul>
      </nav>
    )}
    <slot></slot>
  </article>
</Layout>

<style>
  article :global(h2) {
    @apply mt-16 mb-8 text-4xl;
  }
  article :global(h2):before {
    content: '> ';
  }

  article :global(p) {
    @apply mb-4;
  }

  article :global(:not(pre) code) {
    @apply mx-1 py-1 px-3 bg-slate-700 rounded-md;
  }

  article :global(p > code) {
    @apply text-base;
  }

  article :global(pre) {
    @apply my-8 md:m-8 p-4 text-base rounded-md;
  }

  article :global(figure) {
    @apply my-8 md:m-8 text-base border-2 border-slate-700;
  }
  article :global(figure figcaption) {
    @apply bg-slate-700 px-2 py-1 text-base;
  }
  article :global(figure p) {
    @apply m-0;
  }
</style>
