---
import Layout from './Layout.astro';
import Link from '@components/Link.astro';
import Tag from '@components/Tag.astro';

const { frontmatter, headings } = Astro.props;
const { title, date, minutesRead, disableTOC = false, tags = [] } = frontmatter;

const indentMap = {
  2: 'ml-8',
  3: 'ml-12',
  4: 'ml-16',
  5: 'ml-20',
  6: 'ml-24',
};
---

<Layout title={title}>
  <h1 class='mt-16 text-5xl leading-normal'>{title}</h1>
  <hr class='mt-4 mb-2 border-2 border-violet-700' />
  <div class='flex justify-between'>
    <span>{new Date(date).toDateString()}</span>
    <span>{minutesRead}</span>
  </div>
  {tags && (
    <div class="mt-4 flex gap-2">
      {tags.map((tag) => (
        <Link href={`/blog/tags/${tag}`}>
          <Tag tag={tag} />
        </Link>
      ))}
    </div>
  )}
  <article class='mt-12 text-xl leading-loose'>
    {!disableTOC && headings.length > 0 && (
      <nav class="mb-16">
        <h2>Contents</h2>
        <ul>
          {headings.map((h) => (
            <li class={indentMap[h.depth]}>
              <Link href={`#${h.slug}`}>{h.text}</Link>
            </li>
          ))}
        </ul>
      </nav>
    )}
    <slot></slot>
  </article>
</Layout>

<style>
  article :global(h2:before),
  article :global(h3:before),
  article :global(h4:before),
  article :global(h5:before),
  article :global(h6:before) {
    content: '> ';
  }

  /* Headings */
  article :global(h2) {
    @apply mt-16 mb-8 text-4xl;
  }
  article :global(h3) {
    @apply mt-16 mb-8 text-3xl;
  }
  article :global(h4) {
    @apply mt-16 mb-8 text-2xl;
  }
  article :global(h5) {
    @apply mt-16 mb-8 text-xl;
  }
  article :global(h6) {
    @apply mt-16 mb-8 font-bold text-xl;
  }

  article :global(p) {
    @apply mb-4 text-justify;
  }

  article :global(ul) {
    @apply ml-12 mb-8 list-disc;
  }

  article :global(:not(pre) code) {
    @apply mx-1 py-1 px-3 bg-slate-700 rounded-md;
  }

  article :global(p > code),
  article :global(a > code) {
    @apply text-base;
  }

  article :global(pre) {
    @apply my-8 md:m-8 p-4 text-base rounded-md;
  }

  article :global(figure) {
    @apply my-8 md:m-8 text-base border-2 border-slate-700;
  }
  article :global(figure figcaption) {
    @apply bg-slate-700 px-2 py-1 text-base;
  }
  article :global(figure p) {
    @apply m-0;
  }
</style>
